<!-- home.html -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="ru">
<head>
    <meta charset="UTF-8"><title>Vinyl Store Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<th:block th:replace="~{fragments/nav :: navBar}"></th:block>

<h1>
    <span sec:authorize="isAuthenticated()" th:text="${username + ', '}"></span>
    добро пожаловать в магазин виниловых пластинок!
</h1>

<div>
    <h3>Топ-10 самых продаваемых пластинок:</h3>

    <table>
        <thead>
        <tr>
            <th></th>
            <th>Альбом</th>
            <th>Исполнитель</th>
            <th>Продано</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vinyl : ${topVinyls}">
            <td>
            <span th:if="${vinyl.photo == null or vinyl.photo.isEmpty()}">
                <img th:src="@{/img/placeholder.png}" alt="No image" width="50"/>
            </span>
                <span th:if="${vinyl.photo != null and !vinyl.photo.isEmpty()}">
                <img th:src="@{/img/{file}(file=${vinyl.photo})}" alt="Фото" width="50"/>
            </span>
            </td>

            <td>
                <a th:href="@{'/vinyl/' + ${vinyl.id}}">
                    <span th:text="${vinyl.title}">Альбом</span>
                </a>
            </td>

            <td th:text="${vinyl.artist}">Исполнитель</td>

            <td th:text="${topSoldMap[vinyl.id] == null ? 0 : topSoldMap[vinyl.id]}">0</td>
        </tr>

        <tr th:if="${#lists.isEmpty(topVinyls)}">
            <td colspan="4">Нет данных.</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>